{% extends 'common/manu.html' %}
{% block header %}
<!--<section class="column-group gutters article">-->
<!--    <div class="xlarge-100 large-100 medium-100 small-100 tiny-100">-->
<!--        <article>-->
<!--            <header>-->
<!--                <h1 class="push-left">Log in</h1>-->
<!--            </header>-->
<!--        </article>-->
<!--    </div>-->
<!--</section>-->
{% endblock %}
{% block content %}
<form action="#" class="ink-form column-group gutters">
    <fieldset class="all-33 small-100 tiny-100">
    </fieldset>
    <fieldset class="all-33 small-100 tiny-100">
        <legend>로그인</legend>
        <div class="control-group required">
            <label for="email">이메일 주소</label>
            <div class="control prepend-symbol">
                <span>
                    <input type="text" id="email">
                    <i class="fa fa-envelope-o"></i>
                </span>
            </div>
        </div>
        <div class="control-group required">
            <label for="password">패스워드</label>
            <div class="control">
                <input type="password" id="password">
            </div>
        </div>
        <div class="control-group push-right">
            <button class="ink-button black">로그인</button>
        </div>
        <p class="note">
            신규 사용자인가요? <a href="/new">사용자 생성</a>
        </p>
    </fieldset>
    <fieldset class="all-33 small-100 tiny-100">
    </fieldset>
</form>
{% endblock %}