{% extends 'common/manu.html' %}
{% block header %}
<section class="column-group gutters article">
    <div class="xlarge-100 large-100 medium-100 small-100 tiny-100">
        <article>
            <header>
                <h1 class="push-left">Contacts</h1>
            </header>
        </article>
    </div>
</section>
{% endblock %}
{% block content %}
<!-- load jsgrid-1.5.3  -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='jsgrid-1.5.3/dist/jsgrid.min.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='jsgrid-1.5.3/dist/jsgrid-theme.min.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='jsgrid-1.5.3/dist/jsgrid.min.js') }}"></script>
<style>
    .client-photo { float: left; margin: 0 20px 0 10px; }
    .client-photo img { border-radius: 50%; border: 1px solid #ddd; }
    .client-info { margin-top: 10px; }
    .client-info p { line-height: 25px; }
</style>
<form action="#" class="ink-form column-group gutters">
    <fieldset class="all-30 small-100 tiny-100">
        <summary>Easy and Simple.</summary>
    </fieldset>
    <fieldset class="all-70 small-100 tiny-100">
        <div id="contacts"></div>
    </fieldset>
</form>
<script>
        $(function() {
            $("#contacts").jsGrid({
                heading: true,
                height: "auto",
                width: "100%",
                autoload: true,
                paging: true,
                controller: {
                    loadData: function() {
                        var deferred = $.Deferred();

                        deferred.resolve([
                        {name: {kr: "김원철", en: "kim won-cheol"},
                         info: "POC 리더, Data Eng., IaaS",
                         email: "cv99ixt@sk.com"},
                        {name: { kr: "김동훈", en: "kim dong-hun" },
                         info: "POC 리더, AI Svc. 개발, Data 분석&ML/DL(비정형)",
                         email: "donghun_kim@sk.com" },
                        {name: {kr: "최헌수", en: "choi heon-su"},
                         info: "AI Svc. 개발",
                         email: "hschoe@sk.com"},
                        {name: {kr: "이동우", en: "lee dong-woo"},
                         info: "Data 분석&ML/DL(비정형)",
                         email: "leedw416@sk.com"},
                        {name: {kr: "조용준", en: "cho yong-jun"},
                         info: "Data 분석&ML/DL(비정형)",
                         email: "youngjun@sk.com"},
                        {name: {kr: "박정수", en: "park jeong-su"},
                         info: "Data 분석&ML/DL(비정형)",
                         email: "nostalgia@sk.com"},
                        {name: {kr: "이현민", en: "lee hyun-min"},
                         info: "AI Svc. 개발, IaaS",
                         email: "hm_lee@sk.com"},
                         ]);
                        return deferred.promise();
                    }
                },
                rowRenderer: function(item) {
                    var user = item;
                    var $photo = $("<div>").addClass("client-photo").append($("<img>").attr("src", user.picture));
                    var $info = $("<div>").addClass("client-info")
                        .append($("<p>").append($("<strong>").text(user.name.kr + " (" + user.name.en + ")")))
                        .append($("<p>").text("Email: " + user.email))
                        .append($("<p>").text("Info: " + user.info))

                    // return $("<tr>").append($("<td>").append($photo).append($info));
                    return $("<tr>").append($("<td>").append($info));
                },
                fields: [
                    { title: "Information" }
                ]
            });


            String.prototype.capitalize = function() {
                return this.charAt(0).toUpperCase() + this.slice(1);
            };

        });
</script>
{% endblock %}
