<!DOCTYPE html>
<html lang="kr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sticky footer</title>
        <meta name="description" content="">
        <meta name="author" content="kim dong-hun">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- Place favicon.ico and apple-touch-icon(s) here  -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <!-- load Ink's CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ink-flex.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

        <!-- load Ink's CSS for IE8 -->
        <!--[if lt IE 9 ]>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/ink-ie.min.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
        <![endif]-->

        <!-- test browser flexbox support and load legacy grid if unsupported -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
        <script type="text/javascript">
            Modernizr.load({
              test: Modernizr.flexbox,
              nope : '../css/ink-legacy.min.css'
            });
        </script>

        <!-- load Ink's javascript files -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/holder.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/ink-all.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/autoload.js') }}"></script>

        <style type="text/css">
            html, body {
                height: 100%;
                background: #f0f0f0;
            }
            .wrap {
                min-height: 100%;
                height: auto !important;
                height: 100%;
                margin: 0 auto -120px;
                overflow: auto;
            }
            .push, footer {
                height: 120px;
                margin-top: 0;
            }
            footer {
                background: #ccc;
                border: 0;
            }
            footer * {
                line-height: inherit;
            }
            .top-menu {
                background: #1a1a1a;
            }
        </style>
    </head>

    <body>

        <!--[if lt IE 9 ]>
        <div class="ink-grid">
            <div class="ink-alert basic">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
                </p>
            </div>
        </div>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div class="wrap">
            <header>
                <nav class="ink-navigation">
                    <ul class="menu horizontal black push-left medium-push-center small-push-center tiny-push-center">
                        <li class="hide-all show-tiny show-small show-medium"><button class="fa fa-bars left-drawer-trigger"></button></li>
                        <li class="logoPlaceholder"><a href="/" class="logoPlaceholder">OPBOT MANAGER</a></li>
                    </ul>
                    <ul class="menu horizontal black">
                        <li class="active">
                            <a href="#">Task 관리</a>
                            <ul class="submenu">
                                <li><a href="/task/new">Task 등록</a></li>
                                <li><a href="/task/list">Task 조회</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Group 관리</a>
                            <ul class="submenu">
                                <li><a href="/group/new">Group 등록</a></li>
                                <li><a href="/group/list">Group 조회</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Admin 기능</a>
                            <ul class="submenu">
                                <li><a href="/admin/user">User</a></li>
                                <li><a href="/admin/group">Group</a></li>
                                <li><a href="/admin/task">Task</a></li>
                            </ul>
                        </li>
                        <li class="disabled">
                            <a href="#">About</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="column-group gutters">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        <footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space">
                    <li class="active"><a href="#">About</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
                <p class="note">Identification of the owner of the copyright, either by name, abbreviation, or other designation by which it is generally known.</p>
            </div>
        </footer>

    </body>

</html>
