<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OPBOT MANAGER</title>
        <meta name="description" content="">
        <meta name="author" content="kim dong-hun">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <!-- Place favicon.ico and apple-touch-icon(s) here  -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!-- load Ink's CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ink-flex.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <!-- load Ink's CSS for IE8 -->
        <!--[if lt IE 9 ]>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/ink-ie.min.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
        <![endif]-->
        <!-- test browser flexbox support and load legacy grid if unsupported -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
        <script type="text/javascript">
            Modernizr.load({
              test: Modernizr.flexbox,
              nope : '../css/ink-legacy.min.css'
            });
        </script>
        <!-- load jquery-3.4.1 -->
<!--        <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>-->
        <!-- load Ink's javascript files -->
        <script type="text/javascript" src="{{ url_for('static', filename='jsgrid-1.5.3/external/jquery/jquery-1.8.3.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/holder.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/ink-all.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/autoload.js') }}"></script>
        <style type="text/css">
            html, body {
                height: 100%;
                background: #f0f0f0;
            }
            .wrap {
                min-height: 100%;
                height: auto !important;
                height: 100%;
                margin: 0 auto -120px;
                overflow: auto;
            }
            .push, footer {
                height: 120px;
                margin-top: 0;
            }
            footer {
                background: #ccc;
                border: 0;
            }
            footer * {
                line-height: inherit;
            }
            .top-menu {
                background: #1a1a1a;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 9 ]>
        <div class="ink-grid">
            <div class="ink-alert basic">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
                </p>
            </div>
        </div>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrap">
            <div class="top-menu">
                <nav class="ink-navigation ink-grid ie7">
                    <ul class="menu horizontal black push-left medium-push-center small-push-center tiny-push-center">
                        <li class="hide-all show-tiny show-small show-medium"><button class="fa fa-bars left-drawer-trigger"></button></li>
                        <li class="logoPlaceholder"><a href="/" class="logoPlaceholder">S-EMP MANAGER</a></li>
                    </ul>
                    <ul class="menu horizontal black" id="top_menu">
                        <li>
                            <a href="#">태스크 관리</a>
                            <ul class="submenu">
                                <li><a href="/task/new">태스크 등록</a></li>
                                <li><a href="/task/list">태스크 조회</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">그룹 관리</a>
                            <ul class="submenu">
                                <li><a href="/group/new">그룹 등록</a></li>
                                <li><a href="/group/list">그룹 조회</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">관리자 기능</a>
                            <ul class="submenu">
                                <li><a href="/admin/task">태스크 관리</a></li>
                                <li><a href="/admin/group">그룹 관리</a></li>
                                <li><a href="/admin/user">사용자 관리</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--
                    <ul class="breadcrumbs black">
                        <li><a href="#">Start</a></li>
                        <li><a href="#">Level 1</a></li>
                        <li><a href="#">Level 2</a></li>
                        <li class="active"><a href="#">Current item</a></li>
                    </ul>
                    -->
                </nav>
            </div>
            <div class="ink-grid vertical-space">
                {% block header %}{% endblock %}
                <div class="ink-sticky">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                    <div class="ink-alert basic {{ category }}" role="alert">
                        <button class="ink-dismiss">&times;</button>
                        <p>{{ message }}</p>
                    </div>
                    <!--
                    <div class="ink-alert basic success" role="alert">
                        <button class="ink-dismiss">&times;</button>
                        <p><b>Done:</b> Process completed successfully</p>
                    </div>
                    <div class="ink-alert basic info" role="alert">
                        <button class="ink-dismiss">&times;</button>
                        <p><b>Note:</b> You have 5 minutes to leave, before self-destruction</p>
                    </div>
                    <div class="ink-alert basic error" role="alert">
                        <button class="ink-dismiss">&times;</button>
                        <p><b>Error:</b> The system has failed</p>
                    </div>
                    -->
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space">
                    <li class="active"><a href="/footer/about">About</a></li>
                    <li><a href="/footer/sitemap">Sitemap</a></li>
                    <li><a href="/footer/contacts">Contacts</a></li>
                </ul>
                <p class="note">&copy; Copyright 2020, kim dong-hun and opbot-dev team. Created using <a href="http://ink.sapo.pt/">INK</a> 3.1.10.</p>
            </div>
        </footer>
    </body>
<style>
.ink-sticky .ink-alert {
    /* Remove the ink-alert's margins to keep it really on the top of the screen */
    margin: 0;
}
</style>
</html>
