{% extends 'common/manu.html' %}
{% block header %}
<section class="column-group gutters article">
    <div class="xlarge-100 large-100 medium-100 small-100 tiny-100">
        <article>
            <header>
                <h1 class="push-left">Sitemap</h1>
            </header>
        </article>
    </div>
</section>
{% endblock %}
{% block content %}
<form action="#" class="ink-form column-group gutters">
    <fieldset class="all-33 small-100 tiny-100">
        <legend>태스크 관리</legend>
        <div class="example">
            <ul>
                <li><a href="/task/new">태스크 등록</a></li>
                <li><a href="/task/list">태스크 조회</a></li>
            </ul>
        </div>
    </fieldset>
    <fieldset class="all-33 small-100 tiny-100">
        <legend>그룹 관리</legend>
        <div class="example">
            <ul>
                <li><a href="/group/new">그룹 등록</a></li>
                <li><a href="/group/list">그룹 조회</a></li>
            </ul>
        </div>
    </fieldset>
    <fieldset class="all-33 small-100 tiny-100">
        <legend>관리자 기능</legend>
        <div class="example">
            <ul>
                <li><a href="/admin/task">태스크 관리</a></li>
                <li><a href="/admin/group">그룹 관리</a></li>
                <li><a href="/admin/user">사용자 관리</a></li>
            </ul>
        </div>
    </fieldset>
</form>
{% endblock %}
