{% extends 'common/manu.html' %}
{% block header %}
<section class="column-group gutters article">
    <div class="xlarge-100 large-100 medium-100 small-100 tiny-100">
        <article>
            <header>
                <h1 class="push-left">Task 조회</h1>
                <p class="push-right">OOO(xxx@xxx.com)님 환영합니다. 접속일: <time pubdate="pubdate">2009-10-09</time></p>
            </header>
        </article>
    </div>
</section>
{% endblock %}
{% block content %}
<summary>But being in a great hurry to resume scolding the man in the purple Shirt, who was waiting for it in the entry, and seeming to hear nothing but the word "clam," Mrs. Hussey hurried towards an open door leading to the kitchen, and bawling out "clam for two," disappeared.</summary>
{% endblock %}
